<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Congratulations !!!!</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
     
      <div class="md-dialog-content">
        <h2>Congratulations You are driving {{100 - rating}}% Safe  </h2>
        <p>
          You Have earned a 15% discount as a bonus for driving safely
        </p>
        <center> <img style="margin: auto; max-width: 100%;height: 200px;" alt="Lush mango tree" src="react-native-congratulations.png">
        </center>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('skip')">
        Skip
      </md-button>
      <md-button ng-click="answer('graboffer')">
        Grab The offer
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>