<div layout="column" style="height:800px;">
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
      <md-toolbar class="md-theme-indigo md-tall">
        <h1 class="md-toolbar-tools">SafeDrive</h1>
      </md-toolbar>
      <md-content>
        <md-subheader class="md-primary">Dashboard</md-subheader>
        <md-menu-content>
          <md-menu-item>
            <md-button ui-sref="todos">
              <md-icon md-font-set="material-icons">home</md-icon>
              Dashboard
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="dat">
              <md-icon md-font-set="material-icons">help</md-icon>
             Insurance Offers
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button ng-click="ctrl.toggleNotifications()">
              <md-icon md-font-set="material-icons">notifications</md-icon>
             Help
            </md-button>
          </md-menu-item>
        </md-menu-content>
       
      </md-content>
    </md-sidenav>
    <md-content flex>
      <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings" ng-click="$ctrl.openLeftMenu();">
            <md-icon md-font-set="material-icons"> menu </md-icon>
          </md-button>
          <h2>
            <span>safeDrive</span>{{$ctrl.myWelcome}}
          </h2>
          <span flex></span>
          <login-buttons></login-buttons>
        </div>
      </md-toolbar>
      <div class="gridListdemoBasicUsage">
<md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >

  

    <md-grid-tile class="green">
      <md-grid-tile-footer>
        <h3>Partner 1 </h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="yellow">
      <md-grid-tile-footer>
        <h3>Partner 2 </h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="blue"
        md-rowspan="1">
      <md-grid-tile-footer>
        <h3>Partner 3</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red"
        md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
      <md-grid-tile-footer>
        <h3>Partner 4 </h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green"
        md-rowspan="1" >
      <md-grid-tile-footer>
        <h3>Partner 5</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list>
      </div>
    
      <!--
   <form class="new-task" ng-submit="$ctrl.addTask($ctrl.newTask)"  ng-show="$ctrl.currentUser()">
      <md-input-container md-no-float class="md-block">
      <input type="text" placeholder="Type the new Task here" ng-model="$ctrl.newTask" >
      
      <md-icon  md-font-set="material-icons" ng-click="$ctrl.addTask($ctrl.newTask)" style="display:inline-block;color: pink;">send</md-icon>
    </md-input-container>
   
  </form>-->
    </md-content>
  </section>
</div>