<div layout="column" style="height:800px;">
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
      <md-toolbar class="md-theme-indigo md-tall">
        <h1 class="md-toolbar-tools">SafeDrive</h1>
      </md-toolbar>
      <md-content>
        <md-subheader class="md-primary">Dashboard</md-subheader>
        <md-menu-content>
          <md-menu-item>
            <md-button ui-sref="todos">
              <md-icon md-font-set="material-icons">home</md-icon>
              Dashboard
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="insurance">
              <md-icon md-font-set="material-icons">local_offer</md-icon>
              Insurance Offers
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button ng-click="ctrl.toggleNotifications()">
              <md-icon md-font-set="material-icons">help</md-icon>
              Help
            </md-button>
          </md-menu-item>
        </md-menu-content>
        
      </md-content>
    </md-sidenav>
    <md-content flex>
      <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings" ng-click="$ctrl.openLeftMenu();">
            <md-icon md-font-set="material-icons"> menu </md-icon>
          </md-button>
          <h2>
            <span>safeDrive</span>
          </h2>
          <span flex></span>
          <login-buttons></login-buttons>
        </div>
      </md-toolbar>
      <md-tabs md-dynamic-height md-border-bottom class="tabdat">
        <md-tab label="Dashboard">
          <md-content class="md-padding">
            
            <md-divider></md-divider>
            <div ng-show="!$ctrl.start">
              <center>
                <h2>Welcome to SafeDrive </h2>
                 <img src="./animated-car-image-0131.gif" alt="">
                <p>Click on Start to analyse Your journey . we will tell You how safe you Drive</p>
            
              <!--{{$ctrl.myWelcome}}-->
              <md-button aria-label="button-label" class="md-raised md-primary" ng-click="$ctrl.startJourney()" ng-show="!$ctrl.start">
              Start Journey </md-button>
                </center>
            </div>
           
            <div ng-show="$ctrl.start">
               <center>
              <h2>Started Tracking </h2>
               
    <img src="./animated-car-image-0041.gif" alt="">
              <p>We Have started Tracking your vehicle Drive safely Use "SpeedMap" and "Monitor" for your guidence</p>
              <md-button aria-label="button-label" class="md-raised md-primary" ng-click="$ctrl.stop()" > Stop </md-button>
               </center>
            </div>
           
          </md-content>
        </md-tab>
        <md-tab label="Monitor">
          <md-content class="md-padding">
            <center><md-subheader class="md-primary">Acceleration:</md-subheader>
            
            <p>X - {{$ctrl.x_acc}}</p>
            <p>Y - {{$ctrl.y_acc}}</p>
            <p>Z - {{$ctrl.z_acc}}</p>
           
             <md-subheader class="md-primary"> Rotation :</md-subheader>
            
            <p>X - {{$ctrl.a_rot}}</p>
            <p>Y - {{$ctrl.b_rot}}</p>
            <p>Z - {{$ctrl.g_rot}}</p>
             <md-subheader class="md-primary"> Position:</md-subheader>
           
            <p>Latitude - {{$ctrl.lat}}</p>
            <p>Longitude - {{$ctrl.lang}}</p></center>
          </md-content>
        </md-tab>
        <md-tab label="Map">
          <md-content class="md-padding">
            <img src="./plotprecip.png" alt="" width="400px" height="500px">
          </md-content>
        </md-tab>
      </md-tabs>
      <!--
   <form class="new-task" ng-submit="$ctrl.addTask($ctrl.newTask)"  ng-show="$ctrl.currentUser()">
      <md-input-container md-no-float class="md-block">
      <input type="text" placeholder="Type the new Task here" ng-model="$ctrl.newTask" >
      
      <md-icon  md-font-set="material-icons" ng-click="$ctrl.addTask($ctrl.newTask)" style="display:inline-block;color: pink;">send</md-icon>
    </md-input-container>
   
  </form>-->
    </md-content>
  </section>
</div>