<head>
  <base href="/">
  <title>Drive Safe</title>
  <link rel="manifest" href="/my_manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div ui-view=""></div>
  </div>
</body>